:root[data-theme="ocean"] {
  --background: var(--color-slate-50);
  --foreground: var(--color-slate-950);
  --card: var(--color-cyan-50);
  --card-foreground: var(--color-slate-950);
  --popover: var(--color-white);
  --popover-foreground: var(--color-slate-950);
  --primary: var(--color-cyan-700);
  --primary-accent: var(--color-cyan-600);
  --secondary: var(--color-indigo-600);
  --secondary-accent: var(--color-indigo-500);
  --muted: var(--color-slate-100);
  --muted-foreground: var(--color-slate-600);
  --accent: var(--color-sky-100);
  --accent-foreground: var(--color-sky-950);
  --info: var(--color-cyan-200);
  --info-foreground: var(--color-cyan-950);
  --success: var(--color-emerald-300);
  --success-foreground: var(--color-emerald-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-rose-700);
  --error-foreground: var(--color-neutral-50);
  --border: var(--color-slate-300);
  --input: var(--color-slate-300);
  --outline: var(--color-slate-400);
  --radius: 0.75rem;
  --sidebar-background: var(--color-cyan-50);
  --sidebar-foreground: var(--color-slate-950);
  --sidebar-primary: var(--color-cyan-700);
  --sidebar-accent: var(--color-slate-100);
  --sidebar-accent-foreground: var(--color-slate-900);
  --sidebar-border: var(--color-slate-300);
  --sidebar-outline: var(--color-slate-500);
}

.dark[data-theme="ocean"] {
  --background: var(--color-slate-950);
  --foreground: var(--color-slate-50);
  --card: var(--color-slate-900);
  --card-foreground: var(--color-slate-50);
  --popover: var(--color-slate-900);
  --popover-foreground: var(--color-slate-50);
  --primary: var(--color-cyan-400);
  --primary-accent: var(--color-cyan-300);
  --secondary: var(--color-indigo-400);
  --secondary-accent: var(--color-indigo-300);
  --muted: var(--color-slate-800);
  --muted-foreground: var(--color-slate-400);
  --accent: var(--color-slate-800);
  --accent-foreground: var(--color-slate-100);
  --info: var(--color-cyan-300);
  --info-foreground: var(--color-cyan-950);
  --success: var(--color-emerald-300);
  --success-foreground: var(--color-emerald-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-rose-500);
  --error-foreground: var(--color-neutral-50);
  --border: --alpha(var(--color-slate-100) / 15%);
  --input: --alpha(var(--color-slate-100) / 18%);
  --outline: var(--color-slate-500);
  --sidebar-background: var(--color-slate-900);
  --sidebar-foreground: var(--color-slate-50);
  --sidebar-primary: var(--color-cyan-400);
  --sidebar-accent: var(--color-slate-800);
  --sidebar-accent-foreground: var(--color-slate-100);
  --sidebar-border: var(--color-slate-700);
  --sidebar-outline: var(--color-slate-500);
}
