:root[data-theme="sunset"] {
  --background: var(--color-orange-50);
  --foreground: var(--color-stone-950);
  --card: var(--color-amber-50);
  --card-foreground: var(--color-stone-950);
  --popover: var(--color-amber-50);
  --popover-foreground: var(--color-stone-950);
  --primary: var(--color-rose-600);
  --primary-accent: var(--color-pink-600);
  --secondary: var(--color-orange-600);
  --secondary-accent: var(--color-amber-600);
  --muted: var(--color-orange-100);
  --muted-foreground: var(--color-stone-700);
  --accent: var(--color-rose-100);
  --accent-foreground: var(--color-rose-950);
  --info: var(--color-violet-200);
  --info-foreground: var(--color-violet-950);
  --success: var(--color-lime-300);
  --success-foreground: var(--color-lime-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-rose-700);
  --error-foreground: var(--color-neutral-50);
  --border: var(--color-orange-300);
  --input: var(--color-orange-300);
  --outline: var(--color-rose-400);
  --radius: 0.5rem;
  --sidebar-background: var(--color-amber-50);
  --sidebar-foreground: var(--color-stone-950);
  --sidebar-primary: var(--color-rose-600);
  --sidebar-accent: var(--color-orange-100);
  --sidebar-accent-foreground: var(--color-stone-900);
  --sidebar-border: var(--color-orange-300);
  --sidebar-outline: var(--color-rose-500);
}

.dark[data-theme="sunset"] {
  --background: var(--color-stone-950);
  --foreground: var(--color-orange-50);
  --card: var(--color-stone-900);
  --card-foreground: var(--color-orange-50);
  --popover: var(--color-stone-900);
  --popover-foreground: var(--color-orange-50);
  --primary: var(--color-rose-400);
  --primary-accent: var(--color-pink-400);
  --secondary: var(--color-orange-400);
  --secondary-accent: var(--color-amber-400);
  --muted: var(--color-stone-800);
  --muted-foreground: var(--color-stone-300);
  --accent: var(--color-rose-900);
  --accent-foreground: var(--color-rose-100);
  --info: var(--color-violet-300);
  --info-foreground: var(--color-violet-950);
  --success: var(--color-lime-300);
  --success-foreground: var(--color-lime-950);
  --warning: var(--color-amber-300);
  --warning-foreground: var(--color-amber-950);
  --error: var(--color-rose-500);
  --error-foreground: var(--color-neutral-50);
  --border: --alpha(var(--color-orange-100) / 15%);
  --input: --alpha(var(--color-orange-100) / 18%);
  --outline: var(--color-rose-500);
  --sidebar-background: var(--color-stone-900);
  --sidebar-foreground: var(--color-orange-50);
  --sidebar-primary: var(--color-rose-400);
  --sidebar-accent: var(--color-stone-800);
  --sidebar-accent-foreground: var(--color-orange-100);
  --sidebar-border: var(--color-stone-700);
  --sidebar-outline: var(--color-rose-500);
}
